@import "variables";

#node-messages {
    height: 69vh;

    .v-card__text {
        height: 100%;

        #messages-list {
            height: 90%;
            overflow-y: scroll;


            .message {
                margin-bottom: 0.7em;

                position: relative;
                padding: 0 0 15px 50px;

                // .chat-avatar{
                //     position: absolute;
                //     left: 0;
                //     top: 0;
                //     width: 32px;
                //     height: 32px;
                //     -moz-border-radius: 50%;
                //     -webkit-border-radius: 50%;
                //     border-radius: 50%;
                // }
                .chat-avatar{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 32px;
                    height: 32px;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                }
                    .chat-avatar img{
                        display: block;
                        width: 100%;
                        height: auto;
                        -moz-border-radius: 50%;
                        -webkit-border-radius: 50%;
                        border-radius: 50%;
                    }


                .chat-title{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    padding: 0 0 15px;
                }
                    .chat-title h3{
                        font-size: 14px;
                        font-weight: 600;
                        width: calc(100% - 245px);
                        margin: 0;
                    }
                        .chat-title h3 a{
                            color: $base-black;
                        }
                        .chat-title h3 a:hover{
                            text-decoration: underline;
                        }
                    .chat-title span{
                        margin-left: auto;
                        width: 240px;
                        text-align: right;
                        display: block;
                        font-weight: 500;
                        opacity: 0.3;

                    }
                        .chat-title span a{
                            color: $blue;
                        }
                        .chat-title span a:hover{
                            text-decoration: underline;
                        }

                .chat-body{
                    width: calc(100% - 200px);
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.8;
                }
            }
        }
    }
}
