#nodes-detail {
    

    .favorite-node-star i {
        font-size: 30px;
    }

    .property-input-col {
        padding: 4px 5px;

        .v-input {
            height: 60px;
        }
    }

    #content-container {
        margin-top: 0.7em;

        label {
            font-weight: 1000;
        }

        div[contenteditable=true] {
            min-height: 250px;
        }
    }
    .editor-box> * {
        border-color: "#f7f9fc";
        border-radius: 0px 0px 15px 15px;
        border-style: solid;
        background-color: "#f7f9fc";
        border-width: 4px;
        box-shadow: 1px 1px 8px 1px transparent;
    }
}
